body, 
html {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    background: url(header.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 3.2rem;
    color: whitesmoke;
    animation: header-move 5s infinite;
 
}

@keyframes header-move {
    60% {text-shadow: 5px 10px 15px purple;}
  }

h2 {
    font-size: 1.2rem;
    color: whitesmoke;
    animation: header-move 5s infinite;
}

.spacer {
    height: 6rem;
}

.btn {
    font-weight: 600;
    border-radius: 250px;
}

.btn-light:hover {
    border-width: 4px;
}

.btn-main {
    padding: 1rem 2rem;
}